annotated-types
anyio
asgiref
certifi
distlib
fasteners
filelock
httplib2
idna
importlib-metadata
keyring
launchpadlib
lazr.restfulclient
lazr.uri
louis
MarkupSafe
more-itertools
oauthlib
ptyprocess
pyparsing
python-dateutil
PyYAML
requests
systemd-python
urllib3
virtualenv
xdg
zipp
